aiogram==3.20.0
python-dotenv==1.0.0
fastapi
uvicorn
pydantic
requests
timezonefinder
pytz
jinja2
python-multipart
sqlalchemy
alembic
psycopg[binary]
python-jose[cryptography]
passlib==1.7.4
bcrypt==3.2.2